
.banner img{
    width: 100%;
    border-radius: 50%;
}
.home-title{
   color: #f8406e;
   font-weight: bold;
   font-size: 3rem;
}

.spiner{
    width: 100vw;
    height: 80vh;
    display: grid;
    place-items: center center;
}